<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>central-ossrh</id>
			<username>${env.SONATYPE_USER}</username>
			<password>${env.SONATYPE_PASSWORD}</password>
		</server>
		<server>
			<id>internal</id>
			<username>${env.INTERNAL_REPOSITORY_USERNAME}</username>
			<password>${env.INTERNAL_REPOSITORY_PASSWORD}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>internal</id>
			<repositories>
				<repository>
					<id>internal</id>
					<url>${env.INTERNAL_REPOSITORY_URL}</url>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
